# PBS flags
queue: normal
project: x77
walltime: 5:00:00
ncpus: 1920
mem: 3200GB
jobname: NYFscale

#collate_walltime: 10:00:00
#collate_mem: 16GB
collate_walltime: 4:00:00
collate_mem: 30GB
collate_ncpus: 16
collate_queue: express
collate_flags: -n4 -z -m -r

# Model config
model: mom
shortpath: /short/v45
exe: fms_MOM_SIS.intel14.fpe0.O2
input: /short/v45/pas561/mom/input/gfdl_nyf_1080
collate: true

# Misc
stacksize: unlimited

qsub_flags: -lother=hyperthread
